/* style.css */

body {
    font-family: Arial, sans-serif; /* Fallback font family */
    text-align: center; /* Center-align text */
    margin: 0; /* Remove default margin */
    background-color: #FADADD; /* Set background color to light pink */
}

#container {
    display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center-align items horizontally */
    justify-content: center; /* Center-align items vertically */
    height: 100vh; /* Make the container full viewport height */
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#image-container img {
    max-width: 80%;
    max-height: 80%;
    cursor: pointer;
}