/* style.css */

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #FADADD;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}

#image-container img,
#image-container canvas {
    max-width: 95%;
    max-height: 95%;
    cursor: pointer;
}

#click-text {
    font-family: 'Sacramento', cursive;
    font-size: 48px;
    color: #FB607F;
    margin-bottom: 30px;
    font-style: italic;
}